.moviesContainer {
  width: 400px;
  margin: 30px auto;
  padding: 0;
  border-top: 1px solid rgba($color: gray, $alpha: 0.3);
  border-bottom: 1px solid rgba($color: gray, $alpha: 0.3);
}

.movieStyle {
  list-style: none;
  padding: 10px 10px;
  position: relative;

  .movieTitle {
    position: absolute;
    top: 15px;
    left: 100px;
  }

  .movieYear {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 12px;
  }

  .movieSummary {
    position: absolute;
    top: 85px;
    left: 100px;
    display: block;
    width: 250px;
    font-size: 12px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    width: 70px;
  }

  & + & {
    border-top: 1px solid rgba($color: gray, $alpha: 0.3);
  }
}
