.moviesContainer {
  width: 400px;
  margin: 30px auto;
  padding: 0;
  border-top: 1px solid rgba($color: gray, $alpha: 0.3);
  border-bottom: 1px solid rgba($color: gray, $alpha: 0.3);
}

.movieStyle {
  list-style: none;
  padding: 15px 10px;
  position: relative;

  .movieTitle {
    position: absolute;
    top: 30px;
    left: 100px;
    font-weight: bold;
  }

  .movieInfo {
    position: absolute;
    top: 53px;
    left: 100px;
    font-weight: 600;
    font-size: 13px;
    color: rgb(175, 174, 174);
  }

  .movieRating {
    position: absolute;
    top: 85px;
    left: 100px;
    font-size: 1.5rem;

    .purpleRating {
      color: #4803a2;
    }

    .blackRating {
      color: #c6c5c9;
    }
  }

  img {
    width: 70px;
    border-radius: 3px;
    box-shadow: 0 0 2px black;
  }

  & + & {
    border-top: 12px solid rgba($color: gray, $alpha: 0.1);
  }
}
